<template>
    <v-card align="center" justify="center">
        <v-card-title color="primary" primary-title>{{ kTitle }}</v-card-title>
        <v-card-text class="custom-selector headline pre-formatted"><pre>{{ kText }}</pre></v-card-text>
        <v-img v-if="imgActive" :src="imageLink"
            :lazy-src="imageLink"
            aspect-ratio="1"
            class="grey lighten-2"
            max-width="500"
            max-height="300"
        ></v-img>
        <v-container fluid>
            <v-row >
                <v-col v-for="(item, index) in items" v-bind:key="index">
                    <v-card class="pa-2" outlined tile @click="itemDesc(item)" style="font-size:0.6em">
                        {{ itemPart(item) }}
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
        <v-card-text>{{ kDesc }}</v-card-text><v-card-text>{{ currentSelect }} / {{ buildCode }}</v-card-text>
        
        <v-btn @click="onSelect()" v-if="currentStep < 5">{{ kNext }}</v-btn>
        
        
        <v-card-actions>
            
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
  name: 'Config',
  data() {
    return {
      kText: "",
      kImage: "",
      kDesc: "",
      currentSelect: "",
      currentStep: 1,
      buildCode: "",
      items: [],
      table: null
    }
  },
  methods: {
    onSelect() {
        if (this.currentSelect) {
             if (this.currentStep == 1) { // first step
                this.kText = this.translation.table_raster; 
                this.currentStep += 1;
                this.filterItems();
                this.buildCode = this.buildCode + this.currentSelect; 
                this.currentSelect = ""
                this.kDesc = ""
            } else if (this.currentStep == 2) { // second step
                this.kText = this.translation.table_mobility; 
                this.currentStep += 1;
                this.filterItems();
                this.buildCode = this.buildCode + this.currentSelect;
                this.currentSelect = ""
                this.kDesc = ""
            } else if (this.currentStep == 3) { // third step
                this.kText = this.translation.table_inside; 
                this.currentStep += 1;
                this.filterItems();
                this.buildCode = this.buildCode + this.currentSelect;
                this.currentSelect = ""
                this.kDesc = ""
            } else if (this.currentStep == 4){ // final - select addons prepare
                this.currentStep += 1;
                this.filterItems();
                this.buildCode = this.buildCode + this.currentSelect;
                this.$store.dispatch("tableSelect", this.buildCode) // write selected table to site store
                this.currentSelect = ""
                this.kDesc = ""
                this.table = this.getTable(this.buildCode)
                //let price = this.translation.price_desc + " " + this.table.price_cz + this.translation.price_with + "(" + (this.table.price_cz * 0.8) + this.translation.price_without + ")"
                this.kText = `${this.translation.table_chosen}: ${this.buildCode}
                ${this.translation.price_desc} ${this.table.price_cz} ${this.translation.price_with} 
                (${(this.table.price_cz * 0.8)} ${this.translation.price_without})`
            } else {
                // here is only adddons coping
                this.filterItems();
                this.kDesc = ""
            }
        } else {
            this.kDesc = ""
        }   
    },
    filterItems() {
        if (this.basic) {
            this.items = [];
            if (this.currentStep < 5) { // filtering data for table parts
                for (let i = 0; i < this.basic.length; i++) {
                    if (this.basic[i].level == this.currentStep) {
                        this.items.push(this.basic[i]);
                    }
                }
            } else { // TODO: filtering data for table addons 
                for (let i = 0; i < this.addons.length; i++) {
                    this.items.push(this.addons[i]);
                }
            }
        }
    },
    getTable(code) {
        return this.variant.find(x => x.id == code);
    },
    hide () {
        this.$modal.hide('configurator');
    },
    itemDesc(item) { // TODO: need to run only once on picked method
        if (this.language.value) {
            if (this.language.value == "cz") {
                this.kDesc = this.translation.title_chosen + ": " + item.s_cz + " - " + item.info_cz
                this.currentSelect = item.variant
            } else if (this.language.value == "gb") {
                this.kDesc = this.translation.title_chosen + ": " + item.s_gb + " - " + item.info_gb
                this.currentSelect = item.variant
            } else if (this.language.value == "de") {
                this.kDesc = this.translation.title_chosen + ": " + item.s_de + " - " + item.info_de
                this.currentSelect = item.variant
            } else {
                this.kDesc = ""
                this.currentSelect = ""
            }
        } 
    },
    itemPart(item) { 
        if (this.language.value) {
            if (this.language.value == "cz") {
                return item.s_cz
            } else if (this.language.value == "gb") {
                return item.s_gb
            } else if (this.language.value == "de") {
                return item.s_de
            } else {
                return "some bad"
            }
        } else {
            // eslint-disable-next-line no-console
            console.log("language not set yet")
        }
    },
  },
  computed: {
    addons() {
        return this.$store.getters.t_addons
    },
    basic() {
        return this.$store.getters.t_basic
    },
    imageLink() {
        return require("@/assets/variants/"+this.table.code+".jpg")
    },
    imgActive() {
        if (this.buildCode.length > 3) {
            return true
        } else {
            return false
        }
    },
    kTitle() {
        return this.$store.getters.t_trans["title_config"]
    },
    kApply() {
        return this.$store.getters.t_trans["btn_apply"]
    },
    kNext() {
        return this.$store.getters.t_trans["table_next"]
    },
    language() {
        return this.$store.getters.activeLanguage
    },
    select() {
        return this.$store.getters.selected
    },
    translation() {
        return this.$store.getters.t_trans
    },
    variant() {
        return this.$store.getters.t_variants
    }
  },
  created() {
    this.filterItems()
    this.kText = this.$store.getters.t_trans["table_size"]
  }
}
</script>

<style scoped>
    .pre-formatted {
        white-space: pre;
    }


</style>