<template>
    <v-footer absolute padless style="bottom: 0;" color="brown lighten-2">
      <v-row>
        <v-col cols="12" outlined tile dense>
          <v-row align="center" class="mt-0.5 pt-1" justify="space-around">
            <v-card class="px-3" flat color="rgba(0, 0, 0, 0)">
              <v-btn color="primary" text fab><v-icon>mdi-youtube</v-icon></v-btn>
              <v-btn color="primary" text fab><v-icon>mdi-facebook-box</v-icon></v-btn>
              <v-btn color="primary" text fab><v-icon>mdi-instagram</v-icon></v-btn>
            </v-card>
            <v-card class="px-3 body-1 font-weight-regular" flat color="rgba(0, 0, 0, 0)">&copy; {{new Date().getFullYear()}} by {{autor}}</v-card>
            <v-card class="px-3" flat color="rgba(0, 0, 0, 0)">
              <v-btn color="primary" text fab><v-icon>mdi-phone-classic</v-icon></v-btn>
              <v-btn color="primary" text fab><v-icon>mdi-contact-mail</v-icon></v-btn>
            </v-card>
          </v-row>
        </v-col>
      </v-row>
    </v-footer>
</template>

<script>
export default {
  name: 'About',
  data() {
    return {
      autor: "Workbench"
    }
  },
  methods: {
    
  },
  computed: {
    footItems() {
      return this.$store.getters.footerItems
    }
  },
}
</script>

<style scoped>

</style>