<template>
  <v-content>
    <v-app-bar dense color="brown lighten-2">
      <!-- Horni_Menu_logo class="dotted" for dots... -->
      <v-toolbar-title>
        <a href="/" class="logo hidden-md-and-down"></a>
        <a href="/" class="logo_punkt hidden-lg-and-up"></a>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <!--<div class="flex-grow-1"></div>-->
      <!-- Horni_Menu_odkazy -->
      <v-toolbar-items class="body-1 hidden-md-and-down">
        <router-link
          v-for="(link, index) in headItems" v-bind:key="index" 
          :to="link.path" exact >
          <v-btn color="#844d36" text height="100%">
            {{link.text}}
          </v-btn>
        </router-link>
      </v-toolbar-items>
      <!-- ikony v hornim menu pro zobrazeni voleb -->
      <v-app-bar-nav-icon class="hidden-lg-and-up black--text" @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-app-bar-nav-icon class="black--text" @click="ictrans = !ictrans"><flag :iso=a_lang /></v-app-bar-nav-icon>
    </v-app-bar>
    <!-- Horni_Menu_suplik -->
    <v-navigation-drawer v-model="drawer" 
      temporary absolute left 
      width = "70vw" height = "90vh" 
      id = "drawer" color="rgba(0, 0, 0, 0.46)"
      class="py-5" style="min-height: 400px"
    >
      <v-container class="pt-9 px-8">
        <router-link v-for="(link, index) in headItems" v-bind:key="index" :to=link.path exact>
          <v-btn block rounded medium class="my-4">
            <v-icon>{{ link.icon }}</v-icon> {{link.text}}
          </v-btn>
        </router-link>
      </v-container>
    </v-navigation-drawer>
    <!-- Horni_Menu_jazyky -->
    <v-navigation-drawer v-model="ictrans" 
      temporary absolute right 
      width = "25vw" height = "80vh"
      id = "ictrans" color="rgba(0, 0, 0, 0.23)"
      style="min-height: 400px"
    >
      <v-container class="my-10" >
        <v-btn block rounded x-large
          class="mt-10"
          v-for="(lang, index) in lang" v-bind:key="index" 
          v-on:click="changeLang(lang)"
        >
          <div style="mx-auto">
            <flag :iso=lang.value style="width:4vw;"/>
            <div class="hidden-sm-and-down" style="display: inline;"> 
              {{lang.text}}
            </div>
          </div>
          
        </v-btn>
      </v-container>
    </v-navigation-drawer>
  </v-content>
</template>

<script>

export default {
  name: 'Menu',
  data() {
    return {
      drawer: false, //switcher for narrow view
      ictrans: false, //switcher for translation select
      lang: [
        {text: "čeština", value: "cz"}, 
        {text: "english", value: "gb"}, 
        {text: "german", value: "de"}
      ],
    }
  },
  methods: {
    activeLang() {
      return this.a_lang.value
    },
    changeLang(newLang) {
      this.$store.dispatch("changeLang",newLang)
      this.ictrans = !this.ictrans //close dialog
    }
  },
  computed: {
    a_lang() {
      return this.$store.getters.activeLanguage.value
    },
    headItems() {
      return this.$store.getters.menuItems
    },
  },
  created() {
  },
  mounted() {

  }
}
</script>

<style scoped>

  a { text-decoration: none;}
  #drawer { width: 70vw; height: 90vh; color: rgba(0, 0, 0, 0.46)}
  #ictrans { width: 25vw; height: 70vh; color: rgba(0, 0, 0, 0.46)}
  .logo {
    float: left;
    height: 10vh;
    width: 30vw;
    margin-left: 5vw;
    background: url("../assets/workbench_logo_02_samotne.png");
    background-size: 30vw;
    background-repeat: no-repeat;
    background-position-y: center;
  }

  .logo_punkt {
    float: left;
    height: 10vh;
    width: 50vw;
    margin-left: 0;
    background: url("../assets/workbench_logo_04.png");
    background-size: 50vw;
    background-repeat: no-repeat;
    background-position-y: center;
    }

  .dotted {
    background: radial-gradient(ellipse at center, #f39569 0%, #663c0f 30%, transparent 30%);
    background-size: 40px 40px;
    background-repeat: repeat-x;
    background-position: 10px center;
    width: 100vw;
    height: 50px;
  }
</style>