<template>
    <v-layout>
        <v-tooltip bottom>
            <template v-slot:activator="{ on }">
                <v-btn absolute left
                rounded dark color="primary"
                style="top:4%;left:7%;z-index:2;" 
                class="title"
                @click="konfig(true)" v-on="on">
                    {{ conf_text }}
                </v-btn>
            </template>
            <span><h1 class="display-2 font-weight-thin mb-4">Workbench</h1>
                    <h4 class="subheading">{{ cust_text }}</h4></span>
        </v-tooltip>
        
        
        <modal id="printSection" 
            name="configurator"
            transition="nice-modal-fade"
            height="auto"
            width="80%"
            v-show="openConfig"
            :delay="100"
            :adaptive="true"
            :scrollable="true"
            :resizable="true">
            <WB-Config/>
            <v-divider></v-divider>
            <v-row>
                <v-btn color="primary" text @click="tisk()">{{ conf_print }}</v-btn>
                <v-btn color="primary" text @click="email()">{{ conf_mail }}</v-btn>
                <v-btn color="primary" text @click="pdf()">{{ conf_pdf }}</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary" text @click="konfig(false)">{{ conf_close }}</v-btn>
            </v-row>
        </modal>  

        <v-flex xs12 sm8 offset-sm2>
        <div class="App o-container o-container--s o-vertical-spacing o-vertical-spacing--xl">
            
            <section class="App__example o-vertical-spacing o-vertical-spacing--l">
                <v-row align="center" justify="center">
                    <br/>
                    
                </v-row>
            </section>

            <section class="App__example o-vertical-spacing o-vertical-spacing--l"
                 v-for="(window, index) in presentation" v-bind:key="index">
                <br/>
                <!-- <p>{{window.src}}</p> <p>{{window.alt}}</p> -->      
                <ParallaxContainer>
                    <ParallaxImage
                    :width="300"
                    :height="400"
                    :factor="0.5"
                    >
                    <img
                        src="@/assets/background_bench_cut_small.jpg"
                        :alt="window.alt"
                    />
                    </ParallaxImage>
                </ParallaxContainer>

                <ParallaxContainer class="App__example-single-element">
                    <ParallaxElement
                    :factor="0.25"
                    class="App__example-element"
                    >
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </ParallaxElement>
                </ParallaxContainer>
            </section>

            <section class="App__example o-vertical-spacing o-vertical-spacing--l">
                <h2>Multiple elements</h2>

                <ParallaxContainer class="App__example-double-element">
                    <ParallaxElement
                    :factor="0.25"
                    class="App__example-element"
                    >
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </ParallaxElement>
                    <ParallaxElement
                    :factor="0.5"
                    class="App__example-element"
                    >
                    <h2>Sadipscing Ipsum</h2>
                    <p>Sadipscing ipsum dolor sit amet, consetetur lorem elitr.</p>
                    </ParallaxElement>
                </ParallaxContainer>
            </section>

            
        </div>
        </v-flex>
            
       
        <v-navigation-drawer permanent absolute right class="hidden-md-and-down">
            <v-btn icon><v-icon>mdi-new-box</v-icon></v-btn>
           <WB-News/>
        </v-navigation-drawer>
    </v-layout>
</template>

<script>
import jsPDF from 'jspdf'
import Config from './Config'
import News from './News'
import ParallaxContainer from './ParallaxContainer.vue';
import ParallaxElement from './ParallaxElement.vue';
import ParallaxImage from './ParallaxImage.vue';

export default {
    components: {
        'WB-Config': Config,
        'WB-News' : News,
        ParallaxContainer,
        ParallaxElement,
        ParallaxImage,
    },
    data() {
        return {
            openConfig: true,
        }
    },
    methods: {
        konfig(bool) {
            if (bool) {
                this.$modal.show('configurator')
            } else {
                this.$modal.hide('configurator')
            }
        },
        image(source) {
            return source;
        },
        tisk(){ // function to print current setup
            // eslint-disable-next-line no-console
            console.log(this.select)
            return "tiskneme na tiskárnu"
            this.$htmlToPaper("printSection");
        },
        email(){ // function to send current setup by email
            // eslint-disable-next-line no-console
            console.log(this.select)
            return "posíláme emailem"
        },
        pdf(){ // function to render setup to a pdf file
            //https://stackoverflow.com/questions/47668546/generate-pdf-with-jspdf-and-vue-js
            let doc = new jsPDF({
                orientation: 'portrait',
                unit: 'cm',
                format: [2, 4]
                });
            doc.text('xxxxxxxxxxxxxxxxxxxxxx'+this.select, 10, 10);
            doc.save('WorkBench.pdf');
            // eslint-disable-next-line no-console
            console.log(this.select)
            return "exportujeme do pdf souboru"
    }
    },
    computed: {
        conf_text() {
            return this.$store.getters.t_trans["title_config"]
        },
        conf_close() {
            return this.$store.getters.t_trans["btn_close"]
        },
        conf_print() {
            return this.$store.getters.t_trans["btn_print"]
        },
        conf_mail() {
            return this.$store.getters.t_trans["btn_mail"]
        },
        conf_pdf() {
            return this.$store.getters.t_trans["btn_pdf"]
        },
        cust_text() {
            return this.$store.getters.t_trans["title_choose"]
        },
        presentation() {
            return this.$store.getters.presentation
        },
        select() {
            return this.$store.getters.activeSelect
        },
    },
    created() {
        
    },
    mounted() {
        setTimeout(() => {
            // eslint-disable-next-line no-console
            console.log("There will be delayed action here...now just a console text")
        }, 50000)
        
    }
}
</script>

<style scoped>
    body {
        background-image: radial-gradient(#ffffff 20%, #999966 20%);
        background-position: 0 0;
        background-size: 10px 10px;
        height: 200px;
        width: 100%;
    }
    .App {
        padding-top: setting-spacing(xl);
        padding-bottom: setting-spacing(xl);
        };
    .App__example {
        padding: setting-spacing(l);
        border-radius: 0.25em;
        box-shadow: 0 0.35em 1em rgba(#000, 0.2);
    }
    .App__example-single-element {
        height: 20em;
        background-color: lightblue;
    }
    .App__example-double-element {
        display: flex;
        height: 20em;
        background-color: lightgreen;
    }
    .App__example-element {
        padding: 1em;
        max-width: 12em;
    }
</style>