<template>
  <v-layout column>
    <v-flex xs6 offset-xs3>
      <div class="white elevation-2">
        <v-toolbar flat dense class="cyan" dark>
          <v-toolbar-title> {{log_desc}} </v-toolbar-title>
        </v-toolbar>
        <v-form v-model="valid">
          <v-container>
            <v-row>
              <v-col cols="12" md="5">
                <v-text-field v-model="logname" :rules="emailRules" :counter="10" label="log name" required></v-text-field>
              </v-col>
              <v-col cols="12" md="7">
                <v-text-field v-model="password" :rules="passRules" :counter="12" label="password" required></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <div class="fail" v-html="error" />
          <v-btn type="submit" @click="login" class="brown lighten-2"> {{button_text}} </v-btn>
        </v-form>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'
export default {
  data () {
    return {
      log_desc: 'Log in',
      button_text: 'log in',
      logname: '',
      passRules: [
        v => !!v || 'Name is required',
        v => v.length <= 10 || 'Name must be less than 10 characters',
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
      password: '',
      error: '',
      valid: true
    }
  },
  methods: {
    async login() {
      try {
        await AuthenticationService.login({
          username: this.logname,
          password: this.password
        })
      } catch (error) {
        this.error = error.response.data.error
      }
    } 
  }
}
</script>

<style scoped>
  .fail {
    color: red;
  }
</style>