<template>
  <v-content>
    <div v-if="showMore">
      <h1>{{heading}}</h1>
        <v-expansion-panels v-model="panel" multiple>
          <v-expansion-panel v-for="(value,index) in news" :key="index">
            <v-expansion-panel-header>{{ value.created }} - {{value.string}}</v-expansion-panel-header>
            <v-expansion-panel-content>{{value.info}}</v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
    </div>
    <div v-else> 
      
      <v-card class="mx-auto" max-width="900"
        v-for="(value,index) in news" :key="index"
      >
        <v-card-title>{{value.string}}</v-card-title>
        <v-card-text>{{value.info}}</v-card-text>
      </v-card>    
    </div>
  </v-content> 

  
  
</template>

<script>
export default {
  name: 'News',
  data() {
    return {
      panel: [],
    }
  },
  methods: {
    
  },
  computed: {
    heading() {
      return this.$store.getters.t_trans['title_news']
    },
    news() {
      if (this.showMore) {
        return this.$store.getters.t_news   
      } else {
        return [this.$store.getters.t_news[0], this.$store.getters.t_news[1]]
      }
    },
    showMore() {
      if (this.$route.path.includes("new")) {
        return true
      } else {
        return false
      }
    },
  },
  mounted() {
    
  }
  
}
</script>

<style scoped>

</style>