<template>
  <v-container fluid style="min-height:80vh">
   <!--  <modal name="itemDesc"
      transition="nice-modal-fade"
      height="auto"
      width="80%"
      v-show="openItem"
      :delay="100"
      :adaptive="true"
      :scrollable="true"
      :resizable="true">
      <WB-Item :pid="activeID"/>
      <v-divider></v-divider>
        <v-row>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="popup()">{{ desc_close }}</v-btn>
        </v-row>
    </modal> -->
    <v-layout row wrap>
      <v-flex xs12 color="primary"> <!-- Search Menu -->
        <v-card dark color="brown-lighter">
          <v-row>
            <v-col class="px-1 py-1" cols="12" md="8" xs="8">
              <ul class="cd-accordion-menu">
                <li :model="chips"></li>
              </ul>
              <!-- <v-combobox
                v-model="chips"
                :items="category"
                chips
                clearable
                multiple
                solo
                class="mx-2"
              > 
              <template v-slot:selection="{ attrs, item, select, selected }">
                <v-chip
                  v-bind="attrs"
                  :input-value="selected"
                  close
                  @click="select"
                  @click:close="remove(item)"
                >
                    <strong>{{ item.string }}</strong>&nbsp;
                  </v-chip>
                </template>
              </v-combobox>-->
            </v-col>
            <v-col cols="12" md="3" xs="3">
              <!-- <v-autocomplete
                v-model="model"
                :items="wbitems"
                :loading="isLoading"
                :search-input.sync="search"
                chips
                clearable
                hide-details
                hide-selected
                item-text="name"
                item-value="symbol"
                :label=desc_search
                
              >
              </v-autocomplete> -->
              <v-text-field
                v-model="search"
                :placeholder=desc_search
                append-icon="mdi-card-search-outline"
                single-line
                hide-details
                class="mx-5 my-2"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card>
      </v-flex>
      <v-flex> <!--Items list -->
        <v-item-group>
          <v-row class="px-3 py-8">
            <v-dialog v-model="openItem" scrollable width="80%">
              <template v-slot:activator="{ on }">
                <v-col v-for="(wb, index) in wbitems" :key="index" cols="12" xs="12" sm="6" md="4" xl="3">
                <v-item v-slot:default="{ active, toggle }" >
                  <v-hover v-slot:default="{ hover }">
                    <v-card 
                      class="d-flex align-center" height="30vh" 
                      :color="active ? 'primary' : ''" 
                      :elevation="hover ? 12 : 2"
                      @click="popup(wb.code)" v-on="on"
                    >
                      <v-container>
                        <v-img class="align-end" 
                          :src="require(`@/assets/variants/low/${wb.code}.jpg`)"
                          :lazy-src="require(`@/assets/variants/low/${wb.code}.jpg`)"
                          contain max-height="125"
                        ></v-img>
                        <v-btn text>{{wb.code}}</v-btn>
                      </v-container>
                    </v-card>
                  </v-hover>
                </v-item>
              </v-col>
              </template>
              <WB-Item :pid="activeID"/>
            </v-dialog>
            </v-row>
        </v-item-group>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Fuse from 'fuse.js'
import WB from './WB'

export default {
    components: {
        'WB-Item': WB,
    },
    data() {
        return {
          openItem: false,
          isLoading: false,
          activeID: "",
          filtered: null,
          selected: new Set(),
          model: null,  // search backup
          search: null,
        }
    },
    methods: {
      remove (item) {
        this.chips.splice(this.chips.indexOf(item), 1)
        this.chips = [...this.chips]
      },
      popup(id) { //show item description
          if (id) {
            this.activeID = id
            //this.$modal.show('itemDesc')
             // eslint-disable-next-line no-console
            console.log('access wb item ', this.activeID)
            return true
          } else {
            this.activeID = ""
            //this.$modal.hide('itemDesc')
            return false
          }
      },
      toggle() {
        if (this.isFolder) {
          this.openItem = !this.openItem;
        }
      },
    },
    computed: {
      chips: {
        get() {
          return this.$store.getters.t_cats
        },
        set() {
          // will filter results based on category select 
        }
      },
      category() {
        return this.$store.getters.t_cats
      },
      desc_close() {
        return this.$store.getters.t_trans["btn_close"]
      },
      desc_search() {
        return this.$store.getters.t_trans["title_search"]
      },
      wbitems: {
        get() {
          if (this.model == "" || !this.model) {
            return this.$store.getters.t_catalog
          } else {
            return this.filtered
          }  
        },
        set(val) {
          // will filter results based on category select 
          if (val.length > 0) {
            this.filtered = val
          }
        }
      },
    },
    watch: {
      search (val) {
        this.isLoading = true

        try {
          if (val) {
            var options = {
              shouldSort: true,
              threshold: 0.6,
              location: 0,
              distance: 100,
              maxPatternLength: 32,
              minMatchCharLength: 1,
              keys: [
                "code",
                "price",
                "string",
                "description"
              ]
            };
            var fuse = new Fuse(this.wbitems, options); // "list" is the item array
            this.model = val
            this.wbitems = fuse.search(val) //this.wbitems.filter(val)
          } else {
            this.model = ""
            this.wbitems = null
          } 
        } catch (error) {
          // eslint-disable-next-line no-console
          console.log(error.message)
        } finally {
          this.isLoading = false
        }
      },
    },
}
</script>

<style scoped>
  .bottom-gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, transparent 72px);
  }

  .repeating-gradient {
    background-image: repeating-linear-gradient(-45deg,
                        rgba(255,0,0,.25),
                        rgba(255,0,0,.25) 5px,
                        rgba(0,0,255,.25) 5px,
                        rgba(0,0,255,.25) 10px
                      );
  }

  ol, ul {
	list-style: none;
  padding: 0px;
}

a {
  color: #a0f6aa;
  text-decoration: none;
}

h1 {
  text-align: center;
  width: 90%;
  margin: 2em auto 0;
  color: #507b55;
  font-weight: bold;
}

.cd-accordion-menu {
  width: 90%;
  max-width: 600px;
  margin: 4em auto;
    background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

.cd-accordion-menu li {
  user-select: none;
}

.cd-accordion-menu li span {
    float: right;
}

.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  padding: 18px 18px 18px 45px;
  box-shadow: inset 0 -1px #000;
  color: #ffffff;
}
.no-touch .cd-accordion-menu label:hover,
.no-touch .cd-accordion-menu a:hover {
  background: #52565d;
}
.cd-accordion-menu label::before,
.cd-accordion-menu label::after,
.cd-accordion-menu a::after {
  /* icons */
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.cd-accordion-menu label {
  cursor: pointer;
}

.cd-accordion-menu label span {
  float: right;
  color: #828282;
}

.cd-accordion-menu li.file > label::before {
content: "\f15b";  
}
.cd-accordion-menu li.folder > label::before {
  content: "\f054";
}

.cd-accordion-menu li.file > label::before {
content: "\f15b";  
}
.cd-accordion-menu li.add > label::before {
  content: "\f067";
}


.cd-accordion-menu label::before {
  /* arrow icon */
  font: normal normal normal 14px/1 FontAwesome;
  left: 18px;
  transform: translateY(-50%);
  transition: transform 0.3s;
}
.cd-accordion-menu label.open::before {
  transform: translateY(-25%) rotate(90deg);
}

.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
  background: #000;
  box-shadow: inset 0 -1px #141617;
  padding-left: 82px;
}
.no-touch .cd-accordion-menu ul label:hover,
.no-touch .cd-accordion-menu ul a:hover {
  background: #3c3f45;
}
.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
  box-shadow: none;
}
.cd-accordion-menu ul label::before {
  left: 36px;
}
.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
  left: 59px;
}
.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
  padding-left: 100px;
}
.cd-accordion-menu ul ul label::before {
  left: 54px;
}
.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a::after {
  left: 77px;
}
.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
  padding-left: 118px;
}
.cd-accordion-menu ul ul ul label::before {
  left: 72px;
}
.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a::after {
  left: 95px;
}
</style>