<template>
  <v-container fill-height fluid>
    <h1>Poslali jste nám</h1>
  </v-container>
</template>

<script>
export default {
  name: 'Sent',
  data() {
    return {
      hodnota: "tady se budou švihat data"
    }
  }
}
</script>

<style scoped>

</style>