<template>
    <v-layout >
      <v-row>
        <v-col cols="7" class="mx-auto">
          <v-card>
            <youtube video-id="hSQq5P7-sQg" 
              ref="youtube" @playing="playing" 
              class="mx-auto"
            >
            </youtube>
          </v-card>
        </v-col>
        <v-col cols="7" class="mx-auto">
          <v-card>
            <youtube video-id="q_zXBDRVLsQ" 
              ref="youtube" @playing="playing" 
              class="mx-auto"
            >
            </youtube>
          </v-card>
        </v-col>
      </v-row>
    </v-layout>
</template>

<script>


export default {
  data() {
    return {
      videos: [],
      reformattedSearchString: '',
      channel_id: 'channel_id=UC73uv7KhAux_6JRygSnerTA',
      feed_url: 'https://www.youtube.com/feeds/videos.xml?',
      api: {
        baseUrl: 'https://www.googleapis.com/youtube/v3/search?',
        part: 'snippet',
        type: 'video',
        order: 'viewCount',
        maxResults: 12,
        q: '',
        key: 'AIzaSyACb2EkKPM6wpNnD00wqR7NY8PKJQVHZG0',
        prevPageToken: '',
        nextPageToken: ''
      }
    };
  },
  methods: {
    playVideo() {
      this.player.playVideo()
    },
    playing() {
      // eslint-disable-next-line no-console
      console.log('... we are watching!!!')
    }
  },
  created() {
    
  }
}
</script>

<style scoped>

</style>