<template>
    <v-card class="py-5">
        <div class="title">
            <h1>{{ desc_chosen }} {{ id }}</h1>
            <p> {{ wbItem }} </p>
        </div>
    </v-card>
</template>

<script>
export default {
    // pid/id can be either number (0001) or string (B0001)
    props: {
        pid: String
    },
    data() {
        return {
            images: [],
            imgCnt: 0,
            //wbcode: "WB"+this.id,
        }
    },
    methods: {
        isNumeric(string) {
            if(string === ' '.repeat(string.length)){
                return false
            } else {
                return string - 0 === string * 1
            }
        },
    },
    computed: {
        id() {
            if (this.pid) {
                return this.pid //passed parameter
            } else {
                return this.$route.params.id //get from path
            }
        },
        isAddon() {
            if (this.isNumeric(this.id)) { // case received number without any WB
                return false
            } else {
                if (this.isNumeric(this.id.charAt(3))) { // number after WB
                    return false
                } else {
                    return true
                }
            }
        },
        wbImageLink() {
            var image = []
            try {
                image.push(require("@/assets/variants/"+this.table.code+".jpg"))
            } catch (error) {
                // eslint-disable-next-line no-console
                console.log(error.message)
            } finally {
                //var img_cnt = image.length
            }
            return image
            
        },
        wbItem() {
            if (this.isAddon) {
                return this.$store.getters.t_addons.find(x => x.code == this.pid)
            } else {
                return this.$store.getters.t_variants.find(x => x.code == this.pid)
            } 
        },
        select() {
            return this.$store.getters.selected
        },
        desc_chosen() {
            return this.$store.getters.t_trans["title_chosen"]
        },
    },
    created() {
        
    }
}
</script>