<template>
    <v-app>
      <WB-Head/> <!-- Top Menu bar  -->
      <v-content class="px-2 mt-2 pb-4" ><!-- main area (x leftright, t top, b bottom) -->
        <router-view/>
      </v-content>
      <v-container class="mx-auto scroll-y">
          <v-btn
              v-scroll="onScroll"
              v-show="to_top"
              fab
              dark
              fixed
              bottom
              right
              color="primary"
              @click="toTop"
          >
              <v-icon>mdi-debug-step-out</v-icon>
          </v-btn>
        </v-container>
      <WB-Foot/><!-- Bottom panel -->
    </v-app>
</template>

<script>

import Head from './components/Head'
import Foot from './components/Foot'

export default {
  name: 'app',
  components: {
    'WB-Head': Head,
    'WB-Foot': Foot
  },
  data: () => ({
    to_top: false 
  }),
  methods: {
    onScroll (e) {
        if (typeof window === 'undefined') return
        const top = window.pageYOffset || e.target.scrollTop || 0
        this.to_top = top > 20
    },
    toTop () {
        this.$vuetify.goTo(0)
    },
  },
  created() {
    if (sessionStorage.getItem("vuex")) {
      this.$store.dispatch('preparePersisted')
    } else {
      this.$store.dispatch('prepareContent')
    }
    // eslint-disable-next-line no-console
    //console.log(this.mobileCheck)
    //this.$store.dispatch(USER_REQUEST)
    if (this.$store.getters.isAuthenticated) {
      // eslint-disable-next-line no-console
      console.log("Uzivatel prihlasen...")
      //this.$store.dispatch(USER_REQUEST)
    }
    //this.$vuetify.theme.primary
    this.$vuetify.theme.dark
  },
  mounted() {
    
  }
};
</script>

<style>

@font-face {
    font-family: 'Monserrat';
    src: url("assets/fonts/Montserrat-Regular.otf") format("opentype");
    font-weight: 100;
}
@font-face {
    font-family: 'Monserrat';
    font-weight: bold;
    src: url("assets/fonts/Montserrat-Bold.otf") format("opentype");
    font-weight: 100;
}
@font-face {
    font-family: 'Monserrat';
    font-style: italic;
    src: url("assets/fonts/Montserrat-Italic.otf") format("opentype");
    font-weight: 100;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
/*  html, body, #app {
  height: 100%;
} */ 
body {
  background-color: #4fc08d;
  font-size: 1.6rem;
  /*font-family: Helvetica Neue,Arial,Helvetica,sans-serif;*/
  font-family: 'Montserrat', Helvetica;
  line-height: 20px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100vh;
  width: 100%;
}

</style>
